.main-profile-rounding {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 250px );
  height: 100vh;
}

.user-profile-form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-pic-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  justify-content: space-between;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}

.file-input {
  display: none;
}

.file-input-label {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.file-input-label:hover {
  background-color: #0056b3;
}

.update-profile-forms {
  display: flex;
  align-items: center;
}

.update-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #0056b3;
}

.edit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.edit-button:hover {
  background-color: #0056b3;
}

.profile-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.profile-form h2 {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  grid-column: span 2;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.form-group input[readonly] {
  background-color: #e9ecef;
}

.update-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  grid-column: span 2;
}

.update-button:hover {
  background-color: #0056b3;
}
