.cart-container {
    width: 1000px; 
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.cart-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}
.cart-item-details {
    display: flex;
   justify-content: space-between;
   
}
.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.cart-item-details {
    flex-grow: 1;
    
}

.cart-item-details h3 {
    margin: 0;
    font-size: 20px;
}

.cart-item-details button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-item-details button:hover {
    background-color: #c82333;
}


