.card {
    border-radius: 15px;
    box-shadow: 2px 6px 8px 4px rgba(3, 5, 8, 4);
    padding: 15px;
    top: 50px;
    gap: 10px;
    left: 0;
}

.card-title {
    font-size: 1.5rem;
    color: #007bff;
}
.Price {
    background-color: chocolate;
    color: white;
    padding: 2px;
    border-radius: 5px;
}

.card-img-top {
    width: 90%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
   
}

.card-img-top:hover {
    padding: 5px;
    transform: scale(1.1); 
}

.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:hover {
    background-color: #004494;
    border-color: #004494;
}

.btn-cart {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-cart:hover {
    background-color: #218838;
    border-color: #218838;
}

.CartButton {
    display: flex;
    gap: 15px;
}
.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary .spinner-border {
    margin-right: 5px;
}


.category-list-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scrollbar-color: #ffffff #f5f5f5;
    margin-top: 40px;
    width: 1350px;
    height: 80px;
    gap: 20px;
    background-color: white;
    box-shadow: 5px 4px 8px rgba(0.5, 0, 0, 0.5);

}
.category-list-container button {
    background-color: orangered;
    font-size: 20px;
}

.category-list-container button.active {
    background-color: orange;
}

.page-button.active {
    background-color: orange;
    color: white;
}