.container {
    margin: 0 auto;
    padding: 20px;
    background-color: pink;
}

.product-detail-card {
    display: flex;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.product-detail-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-right: 1px solid #ddd;
    width: 600px;
}

.product-detail-img {
    width: 90%;
    height: auto;
    max-width: 400px;
    object-fit: cover;
}

.product-detail-body {
    flex: 2;
    padding: 20px;
}

.product-detail-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: red;
}

.product-detail-price {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-detail-description strong {
    color: blue;
}

.product-detail-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.likes {
    background: none;
    border: none;
    cursor: pointer;
    align-items: center;
    font-size: 24px;
    color: #ff4b4b;
    display: flex;
}

.rating {
    margin-left: 20px;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.star-rating input[type="radio"] {
    display: none;
}

.product-detail-description,
.product-detail-category {
    font-size: 16px;
    margin-bottom: 10px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.collection {
    display: flex;
    gap: 20px;
}

.collection button {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: aqua;
    font-size: 16px;
    transition: background-color 0.3s;
}

.collection button:hover {
    background-color: #333;
}

.related-images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
}

.related-images img {
    cursor: pointer;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid black;
    padding: 5px;
    background-color: aliceblue;
    transition: transform 0.3s;
}

.related-images img:hover {
    transform: scale(1.1);
}
